{% extends "base.html" %}
{% load static %}

  {% block about_template %}   
      <div id="templatemo_main_wrapper">
          <div id="templatemo_main">
              
              <div class="col two-third">
                  <h2>{{about.title}}</h2>
                  <img src="{{about.image.url}}" alt="{{about.image_title}}" class="{{about.image_class}}" />
                  <p><em>{{about.description1}}</em></p>
                  <p>{{about.description2}}</p>
                  <div class="cleaner h30"></div>
                  <h3>{{web_design.title}}</h3>
                  <img src="{{web_design.image.url}}" alt="{{web_design.image_title}}" class="{{web_design.image_class}}" />
                  <p><a rel="nofollow" href="{{web_design.link_url1}}">{{web_design.link_name1}}</a> {{web_design.description1}} 
                    <a rel="nofollow" href="{{web_design.link_url2}}">{{web_design.link_name2}}</a> 
                    {{web_design.description2}}
                    <a href="{{web_design.link_url3}}">{{web_design.link_name3}}</a> {{web_design.description3}}
                    <a href="{{web_design.link_url4}}" rel="nofollow"><strong>{{web_design.link_name4}}</strong></a> &amp; 
                    <a href="{{web_design.link_url5}}" rel="nofollow"><strong>{{web_design.link_name5}}</strong></a>.</p>
                  <p>{{web_design.description4}}
                    <a href="{{web_design.link_url6}}">{{web_design.link_name6}}</a>{{web_design.description5}}</p>
              </div>
              
              <div class="col one_third no_margin_right">
                  <h3>{{testimonials_main.title}}</h3>
                    {% for t in testimonials %}
                      <div class="testimonial">
                          <p>{{t.description}}</p>
                          <cite>{{t.name}}<a href="{{t.link_url}}"><span>{{t.position}}</span></a></cite>
                      </div>
                    {% endfor %}  
                  {% comment %} <div class="testimonial">
                      <p>Curabitur sed felis urna, quis eleifend magna. Nunc sed quam mollis sem iaculis viverra facilisis et purus. Aenean vitae tempus erat.</p>
                      <cite>David <a href="#"><span>- Web Developer</span></a></cite>
                  </div>
                  <div class="testimonial">
                      <p>Morbi nisi felis, porttitor vel scelerisque id, lobortis et augue. Donec quam neque, feugiat sed malesuada quis, tempus et mi.</p>
                      <cite>John <a href="#"><span>- Front-end Designer</span></a></cite>
                  </div> {% endcomment %}
              </div> 
                      
              <div class="cleaner"></div>
          </div> <!-- END of templatemo_main_wrapper -->
      </div> <!-- END of templatemo_main -->

    

  {% endblock %}  