{% extends "base.html" %}
{% load static %}   
  
  {% block blog_template %}

    <div id="templatemo_main_wrapper">
        <div id="templatemo_main">
          
            <div id="content" class="float_l">
                <div class="post">
                  <div class="{{blog1.image_class}}"><img src="{{blog1.image.url}}" alt="{{blog1.image_title}}" /><span class="date">{{blog1.text}}</span></div>
                    <h2>{{blog1.title}}</h2>
                    <p>{{blog1.description}}
                        <a href="{{blog1.link_url1}}" rel="nofollow"><strong>{{blog1.link_name1}}</strong></a> &amp; 
                        <a href="{{blog1.link_url2}}" rel="nofollow"><strong>{{blog1.link_name}}</strong></a>.</p>
                    <a href="{% url 'blog_post' %}">Continue reading...</a>
                </div>
          
                {% for blogs in blogs2 %}
                  <div class="post">
                    <div class="{{blogs.image_class}}"><img src="{{blogs.image.url}}" alt="{{blogs.image_title}}" /><span class="date">{{blogs.text}}</span></div>
                      <h2>{{blogs.title}}</h2>
                      <p>{{blogs.description}}</p>
                      <a href="{% url 'blog_post' %}">Continue reading...</a>
                  </div>
                {% endfor %}  
                {% comment %} <div class="post">
                  <div class="post_image"><img src="{% static "images/blog/03.jpg" %}" alt="Image 03" /><span class="date">June 14, 2048</span></div>
                    <h2>Graphic Design Tips and Tricks</h2>
                    <p>Fusce consectetur eleifend mauris a consequat. Proin eros neque, facilisis a ultricies sed, 
                      tempor ac felis. Duis venenatis velit at enim sagittis quis suscipit ante cursus. Nam aliquam gravida cursus.
                       Duis luctus, arcu sed tempor adipiscing, ligula consectetur risus, eu sapien quam ut leo.</p>
                    <a href="{% url 'blog_post' %}">Continue reading...</a>
                </div> {% endcomment %}
            
                <div class="pagging">
                    <ul>
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div> <!-- END of content -->
            
            <div id="sidebar" class="float_r">
              <h3>{{side_bar_main.0.title}}</h3>
                <ul class="templatemo_list">
                  {% for block in services %}
                    <li>{{block.title}}</li>
                  {% endfor %}
                    {% comment %} <li>Condimentum vulputate augue</li>
                    <li>Dolor vel condimentum nisl</li>
                    <li>Felis pharetra felis sed</li>
                    <li>Integer placerat dolor vel</li>
                    <li>Tortor mi in massa donec</li>
                    <li>Vulputate tortor mi in massa</li> {% endcomment %}
                </ul>
                
                <div class="cleaner h50"></div>
                
                <h3>{{side_bar_main.1.title}}</h3>
                <ul class="popular_post">
                  {% for post in popular_posts %}
                    <li><a href="{{post.link_url}}">{{post.link_name}}</a>{{post.description}}</li>
                  {% endfor %}  
                  {% comment %} <li><a href="#">Aliquam bibendum vulputate</a>Auris nisl mi, aliquet ac lobortis ut, tincidunt in tortor vitae lectus dapibus pellentesque.</li>
                    <li><a href="#">Curabitur rutrum vestibulum</a>Nunc viverra vestibulum magna, nec dignissim turpis tincidunt. Donec ac nibh arcu.</li>
                    <li><a href="#">Fusce placerat ultrices</a>Integer ac ultricies nisi. Curabitur velit ante, porttitor ac feugiat a, porta ut lectus.</li> {% endcomment %}
                </ul>				
            </div> <!-- END of sidebar -->
                    
            <div class="cleaner"></div>
        </div> <!-- END of templatemo_main_wrapper -->
    </div> <!-- END of templatemo_main -->


  {% endblock %}