{% extends "base.html" %}
{% load static %}   
  
  {% block blog_post_template %}

    <div id="templatemo_main_wrapper">
        <div id="templatemo_main">
          
            <div id="content" class="float_l">
                <div class="post">
                  <div class="post_image"><img src="{% static "images/blog/01.jpg" %}" alt="Image 01" /><span class="date">June 22, 2048</span></div>
                    <h2>Free Web Templates</h2>
                    <p>Fresh Zone is free website template designed by templatemo for your websites. Ut sed lorem ac ante cursus auctor. Nam ut congue velit. Cras eget fermentum sem. Maecenas nec purus lorem, a sodales lectus. Etiam consequat nulla sit amet nisl volutpat ornare. Donec purus nulla, egestas ac porttitor et, pharetra nec felis. Donec lobortis fringilla blandit. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                    <a href="blog_post.html">Continue reading...</a>
                </div>
          
                <div class="post">
                  <div class="post_image"><img src="{% static "images/blog/02.jpg" %}" alt="Image 02" /><span class="date">June 18, 2048</span></div>
                    <h2>Web Design and Development</h2>
                    <p>Mullam ac urna erat, vel elementum arcu. Praesent porta elit vel diam faucibus consectetur. Sed eu mi odio. Phasellus ac justo risus. Integer sed mauris vulputate urna sollicitudin iaculis. Nullam mollis elementum vehicula. Pellentesque sed nunc metus, vel tempor massa.</p>
                    <a href="blog_post.html">Continue reading...</a>
                </div>
          
                <div class="post">
                  <div class="post_image"><img src="{% static "images/blog/03.jpg" %}" alt="Image 03" /><span class="date">June 14, 2048</span></div>
                    <h2>Graphic Design Tips and Tricks</h2>
                    <p>Fusce consectetur eleifend mauris a consequat. Proin eros neque, facilisis a ultricies sed, tempor ac felis. Duis venenatis velit at enim sagittis quis suscipit ante cursus. Nam aliquam gravida cursus. Duis luctus, arcu sed tempor adipiscing, ligula consectetur risus, eu sapien quam ut leo.</p>
                    <a href="blog_post.html">Continue reading...</a>
                </div>
            
                <div class="pagging">
                    <ul>
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div> <!-- END of content -->
            
            <div id="sidebar" class="float_r">
              <h3>Services</h3>
                <ul class="templatemo_list">
                    <li>Augue felis pharetra felis sed</li>
                    <li>Condimentum vulputate augue</li>
                    <li>Dolor vel condimentum nisl</li>
                    <li>Felis pharetra felis sed</li>
                    <li>Integer placerat dolor vel</li>
                    <li>Tortor mi in massa donec</li>
                    <li>Vulputate tortor mi in massa</li>
                </ul>
                
                <div class="cleaner h50"></div>
                
                <h3>Popular Posts</h3>
                <ul class="popular_post">
                  <li><a href="#">Donec eu orci dolor</a>Pellentesque in nunc quam. Sed molestie ultricies ante, vel scelerisque diam varius sed.</li>
                    <li><a href="#">Aliquam bibendum vulputate</a>Auris nisl mi, aliquet ac lobortis ut, tincidunt in tortor vitae lectus dapibus pellentesque.</li>
                    <li><a href="#">Curabitur rutrum vestibulum</a>Nunc viverra vestibulum magna, nec dignissim turpis tincidunt. Donec ac nibh arcu.</li>
                    <li><a href="#">Fusce placerat ultrices</a>Integer ac ultricies nisi. Curabitur velit ante, porttitor ac feugiat a, porta ut lectus.</li>
                </ul>				
            </div> <!-- END of sidebar -->
                    
            <div class="cleaner"></div>
        </div> <!-- END of templatemo_main_wrapper -->
    </div> <!-- END of templatemo_main -->


  {% endblock %}