{% extends "base.html" %}
{% load static %}   
    


    {% block blog_post_template %}
      <div id="templatemo_main_wrapper">
          <div id="templatemo_main">
                
              <div id="content" class="float_l">
                  <div class="post">
                      <div class="post_image"><img src="{% static "images/blog/01.jpg" %}" alt="Image 01" /><span class="date">{{blog_post.text1}}</span></div>
                      <h2>{{blog_post.title}}</h2>
                      <p>{{blog_post.description1}}</p>
                      <p>{{blog_post.text2}} <a href="{{blog_post.link_url1}}" rel="nofollow"><strong>{{blog_post.link_name1}}</strong></a>
                         &amp; <a href="{{blog_post.link_url2}}" rel="nofollow"><strong>{{blog_post.link_name2}}</strong></a>
                         {{blog_post.description2}}</p>
                      <p align="justify">{{blog_post.description3}}
                    
                        <a href="#">{{blog_post.link_name3}}</a>{{blog_post.description4}}</p>
                      <p align="justify">{{blog_post.description5}}
                        <a href="#">{{blog_post.link_name4}}</a> {{blog_post.description6}}<a href="#">{{blog_post.link_name5}}</a>
                        {{blog_post.description7}}</p>
              </div>
            
            <h3>{{comments_main.title}}</h3>
                        
            <div id="comment_section">
            <ol class="comments first_level">
                    
                    <li>
                        <div class="comment_box commentbox1">
                                
                            <div class="gravatar">
                                <img class="image_frame" src="{{comments.0.image.url}}" alt="{{comments.0.image_title}}" />
                            </div>
                            
                            <div class="comment_text">
                                <div class="comment_author">{{comments.0.name}} <span class="date">{{comments.0.date}}</span> <span class="time">{{comments.0.time}}</span></div>
                                <p>{{comments.0.description}}</p>
                              <div class="reply"><a href="#">Reply</a></div>
                            </div>
                            <div class="cleaner"></div>
                        </div>                        
                        
                    </li>
                    
                    <li>
                            <ol class="comments">
                                <li>
                                    <div class="comment_box commentbox2">
                                    <div class="gravatar">
                                        <img class="image_frame" src="{{comments.1.image.url}}" alt="{{comments.1.image_title}}" />
                                    </div>
                                    <div class="comment_text">
                                    <div class="comment_author">{{comments.1.name}} <span class="date">{{comments.1.date}}</span> <span class="time">{{comments.1.time}}</span></div>
                                    <p>{{comments.1.description}}</p>
                                    <div class="reply"><a href="#">Reply</a></div>
                                    </div>
                                    
                                    <div class="cleaner"></div>
                                    </div>   
                                </li>
                                
                                <li>
                                    <ol class="comments">
                                        <li>
                                            <div class="comment_box commentbox1">
                                                <div class="gravatar">
												            	            <img class="image_frame" src="{{comments.2.image.url}}" alt="{{comments.2.image_title}}" />
												                        </div>
                                                <div class="comment_text">
                                                    <div class="comment_author">{{comments.2.name}} <span class="date">{{comments.2.date}}/span> <span class="time">{{comments.2.time}}</span></div>
                                                    <p> {{comments.2.description}}</p>
                                                  <div class="reply"><a href="#">Reply</a></div>
                                                </div>
                                                
                                                <div class="cleaner"></div>
                                            </div>   
                                            
                                        </li>
                                
                                    </ol>
                    
                                </li>
                            </ol>
                            
                    </li>
                    
                    <li>
                        <div class="comment_box commentbox1">
                                
                                 
                            <div class="gravatar">
                                <img class="image_frame" src="{{comments.3.image.url}}" alt="{{comments.3.image_title}}" />
                            </div>
                            <div class="comment_text">
                                <div class="comment_author">{{comments.3.name}}<span class="date">{{comments.3.date}}</span> <span class="time">{{comments.3.time}}</span></div>
                                <p> {{comments.3.description}}</p>
                              <div class="reply"><a href="#">Reply</a></div>
                            </div>
                            
                            <div class="cleaner"></div>
                        </div>      
                        
                    </li>
                    
                    <li>
                        <div class="comment_box commentbox1">
                                
                           <div class="gravatar">
                                <img class="image_frame" src="{{comments.4.image.url}}" alt="{{comments.4.image_title}}" />
                            </div>
                            <div class="comment_text">
                                <div class="comment_author">{{comments.4.name}}<span class="date">{{comments.4.date}}</span> <span class="time">{{comments.4.time}}</span></div>
                                <p> {{comments.4.description}}</p>
                              <div class="reply"><a href="#">Reply</a></div>
                            </div>
                            
                            <div class="cleaner"></div>
                        </div>    
                        
                    </li>
                    
            </ol>
            <div class="cleaner h20"></div>    
            <div class="pagging">
                <ul>
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>    
                
            </div>
            
            <div class="cleaner h20"></div>
            
            <div id="comment_form">
                <h3>Leave your comment</h3>
                
                <form action="#" method="get">
                    <div class="form_row">
                        <label>Name (* required )</label><br />
                        <input type="text" name="name" />
                    </div>
                    <div class="form_row">
                        <label>Email  (* required )</label><br />
                        <input type="text" name="name" />
                    </div>
                    <div class="form_row">
                        <label>Comment</label><br />
                        <textarea  name="comment" rows="" cols=""></textarea>
                    </div>
                    <input type="submit" name="Submit" value="Submit" class="submit_btn" />
                </form>
            
            </div>
            
          </div> <!-- END of content -->
        
          <div id="sidebar" class="float_r">
            <h3>{{side_bar_main.0.title}}</h3>
              <ul class="templatemo_list">
                {% for block in services %}
                  <li>{{block.title}}</li>
                {% endfor %}
              </ul>
            {% comment %} <h3>Services</h3>
              <ul class="templatemo_list">
                  <li>Augue felis pharetra felis sed</li>
                  <li>Condimentum vulputate augue</li>
                  <li>Dolor vel condimentum nisl</li>
                  <li>Felis pharetra felis sed</li>
                  <li>Integer placerat dolor vel</li>
                  <li>Tortor mi in massa donec</li>
                  <li>Vulputate tortor mi in massa</li>
               {% endcomment %}
              
              
          <div class="cleaner h50"></div>
            
            <h3>{{side_bar_main.1.title}}</h3>
            <ul class="popular_post">
              {% for post in popular_posts %}
                <li><a href="{{post.link_url}}">{{post.link_name}}</a>{{post.description}}</li>
              {% endfor %}  
              {% comment %} <h3>Popular Posts</h3>
              <ul class="popular_post">
                <li><a href="#">Donec eu orci dolor</a>Pellentesque in nunc quam. Sed molestie ultricies ante, vel scelerisque diam varius sed.</li>
                  <li><a href="#">Aliquam bibendum vulputate</a>Auris nisl mi, aliquet ac lobortis ut, tincidunt in tortor vitae lectus dapibus pellentesque.</li>
                  <li><a href="#">Curabitur rutrum vestibulum</a>Nunc viverra vestibulum magna, nec dignissim turpis tincidunt. Donec ac nibh arcu.</li>
                  <li><a href="#">Fusce placerat ultrices</a>Integer ac ultricies nisi. Curabitur velit ante, porttitor ac feugiat a, porta ut lectus.</li> {% endcomment %}
            </ul>				
          </div> <!-- END of sidebar -->
                  
          <div class="cleaner"></div>
          </div> <!-- END of templatemo_main_wrapper -->
      </div> <!-- END of templatemo_main -->

    {% endblock %}    
